* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .side {
  width: 10vw;
  height: 100vh;
  background-color: #c9c9c9;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

#root .side > div {
  width: 50px;
  height: 50px;
  margin-bottom: 100px;
  border: 1px solid black;
}

#root .box {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .box > div {
  width: 45vw;
  height: 100vh;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .box > div > div:nth-child(1) {
  width: 45vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .box > div > div:nth-child(1) > div {
  width: 10vw;
  height: 15vh;
  background-color: #9b9b9b;
  border: 1px solid black;
}

#root .box > div > div:nth-child(1) > div:nth-child(2) {
  width: 45vw;
  height: 90vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .box > div > div:nth-child(1) > div:nth-child(2) > div {
  width: 150px;
  height: 210px;
  margin: 20px;
  border: 1px solid black;
}
