*{margin: 0; padding: 0;}

@mixin flex ($d, $j, $a){

display: ($d);
justify-content: ($j);
align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;

  @include flex(flex,flex-start,center);

  .side {

  width: 10vw;
  height: 100vh;
  background-color: rgb(201, 201, 201);
  position: fixed;
  flex-direction: column;
  @include flex(flex,center,center);
  @include border;
  }

  .side > div {

    width: 50px;
    height: 50px;
    margin-bottom: 100px;
    @include border;
  }

  // ------------------------------------

  .box {
    width: 100vw;
    height: 100vh;
  
    @include border;
    @include flex(flex,flex-end,center);
  }
  
  .box1{
    width: 90vw;
    height: 100vh;
    background-color: rgb(185, 185, 185);
    flex-direction: column;
  
    @include border;
    @include flex(flex,center,center);
  }

  .logo {

    width: 20vw;
    height: 20vh;
    background-color: rgb(36, 35, 35);
    @include border;
  }

  .title1-1 {

    width: 50vw;
    height: 85vh;
    position:absolute;
    background-color: #ccc;
    z-index: 1;
    @include border;
    @include flex(flex,center,center);

  }

  .title1-1 > div{

    width: 50vw;
    height: 85vh;
    margin: 15px;
    background-color: rgb(99, 96, 96);
    @include border;
    @include flex(flex,center,center);

  }

  .box1-1 {

    width: 70vw;
    height: 100vh;
    background-color: rgb(95, 93, 93);

    flex-direction: column;
    @include border;
    @include flex(flex,center,center);
  }

  // ------------------------------------

  .title {

    width: 70vw;
    height: 85vh;
    flex-wrap: wrap;
    @include border;
    @include flex(flex,center,center);

  }

  .title > div {

    width: 200px;
    height: 300px;
    background-color: rgb(174, 179, 179);
    margin: 10px;
    position: relative;
    @include border;
  }
}