*{margin: 0; padding: 0;}

@mixin flex ($d, $j, $a){

display: ($d);
justify-content: ($j);
align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

// --------------------------------------


#root {

  width: 100vw;
  height: 100vh;

  @include flex(flex,flex-start,center);

  .side {

  width: 10vw;
  height: 100vh;
  background-color: rgb(201, 201, 201);
  position: fixed;
  flex-direction: column;
  @include flex(flex,center,center);
  @include border;
  }

  .side > div {

    width: 50px;
    height: 50px;
    margin-bottom: 100px;
    @include border;
  }

//--------------------------------------


.box {
  width: 100vw;
  height: 100vh;

  @include border;
  @include flex(flex,flex-end,center);
}

.box1{
  width: 90vw;
  height: 100vh;
  background-color: bisque;
  flex-direction: column;

  @include border;
  @include flex(flex,center,center);
}

.box1 > div:nth-child(1) {

  width: 85vw;
  height: 95vh;
  flex-direction: column;

  @include border;
  @include flex(flex,center,center);
}

.box1 > div > div:nth-child(1) > div {

  width: 50vw;
  height: 50vh;

  @include border;
  @include flex(flex,center,center);
}

.box1 > div > div {

  width: 80vw;
  height: 60vh;
  margin: 10px;
  @include border;
  @include flex(flex,center,center);
}

.box1 > div > div:nth-child(2) {

  width: 30vw;
  height: 30vh;
  @include border;
  @include flex(flex,center,center);
}

}
