*{margin: 0; padding: 0;}

  @mixin flex ($d, $j, $a){

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
  }
  
  @mixin border {
    border: 1px solid black;
  }

  #root {

    width: 100vw;
    height: 100vh;
    background-color: #9916f0;
    @include flex(flex,center,center);

    & > div {

      width: 55vw;
      height: 100vh;
      background: url(https://www.urbanbrush.net/web/wp-content/uploads/edd/2019/04/urbanbrush-20190403014650317241.png);
      background-size:cover;
      @include flex(flex,center,center);
    }

    & > div > div {

      width: 40vw;
      height: 40vh;
      background-color: rgb(228, 226, 226);
      background: url(https://i.pinimg.com/550x/8f/fd/32/8ffd326dcb4d76661fba1187ebc1e444.jpg);
      background-size: cover;
      border-radius: 30px;;
      flex-direction: column;
      @include border;
      @include flex(flex,center,center);

    }

    button {

      width: 200px;
      height: 50px;
      border-radius: 50px;
      margin: 50px;
    }

    input {

      width: 250px;
      margin: 15px;;
      text-align: center;
      font-size: 20px;
      border-radius: 15px;
      border: solid rgb(235, 228, 228);
      padding-left: 5px;
    
    }

  }