* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #9916f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div {
  width: 55vw;
  height: 100vh;
  background: url(https://www.urbanbrush.net/web/wp-content/uploads/edd/2019/04/urbanbrush-20190403014650317241.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div > div {
  width: 40vw;
  height: 40vh;
  background-color: #e4e2e2;
  background: url(https://i.pinimg.com/550x/8f/fd/32/8ffd326dcb4d76661fba1187ebc1e444.jpg);
  background-size: cover;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  margin: 50px;
}

#root input {
  width: 250px;
  margin: 15px;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  border: solid #ebe4e4;
  padding-left: 5px;
}
