*{margin: 0; padding: 0;}

@mixin flex ($d, $j, $a){

display: ($d);
justify-content: ($j);
align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

// --------------------------------------

#root {

  width: 100vw;
  height: 100vh;

  @include flex(flex,flex-start,center);

  .side {

  width: 10vw;
  height: 100vh;
  background-color: rgb(201, 201, 201);
  position: fixed;
  flex-direction: column;
  @include flex(flex,center,center);
  @include border;
  }

  .side > div {

    width: 50px;
    height: 50px;
    margin-bottom: 100px;
    @include border;
  }

//--------------------------------------

  .box {
    width: 100vw;
    height: 100vh;
  @include border;
    
    @include flex(flex,flex-end,center);
  }
  .box > div {
    width: 45vw;
    height: 100vh;
  @include border;

    @include flex(flex,center,center);
  }

  .box > div > div:nth-child(1) {

    flex-direction: column;
    @include border;
    @include flex(flex,center,center);
  }

  .box > div > div:nth-child(1) > div {

    width: 10vw;
    height: 15vh;
    background-color: rgb(155, 155, 155);
    @include border;
  }


  .box > div > div:nth-child(1) > div:nth-child(2) {

    width: 45vw;
    height: 90vh;
    flex-wrap: wrap;
    @include border;
    @include flex(flex,center,center);

  }

  .box > div > div:nth-child(1) > div:nth-child(2) > div {
    
    width: 150px;
    height: 210px;
    margin: 20px;
    @include border;
  }

}