*{margin: 0; padding: 0;}

@mixin flex {

  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin  border {
  
  border: 1px solid black;

}


// -------------------------------------------------------------

#root {

  width: 100vw;
  height: 100vh;
  background: url(https://github.com/SEIMIN123/contents-GAME/blob/main/%ED%94%BD%EC%85%80%EB%B0%B0%EA%B2%BD.jpg?raw=true);
  background-size: cover;
  @include flex; 
  }


#root {

  & > div {

    width: 50vw;
    height: 100vh;
    flex-direction: column;

    @include flex;


  }

  & > div > div {

    width: 500px;
    height: 500px;
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
    
    @include flex;
  }

  & > div > div:nth-child(1) {
   
    width: 800px;
    height: 500px;
    background: url(https://github.com/SEIMIN123/contents-GAME/blob/main/%EC%83%8C%EC%A6%88.png?raw=truee);
    background-size: cover;
    background-position: center center;

  }

  & > div > div:nth-child(n+2) {

    width: 500px;
    height: 80px;
    background-color: #fff;
  }
}