*{margin: 0; padding: 0;}

@mixin flex ($d, $j, $a){

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
  
}

@mixin  border {
  
  border: 1px solid black;

}

// --------------------------------------

#root {

  width: 100vw;
  height: 100vh;
  @include flex(flex, center, center);

  & div {

  width: 45vw;
  height: 100vh;
  flex-direction: column;
  flex-grow: 1;

  @include flex(flex, center, center);
  @include border;
}

// -----------------------------

& > div > div:nth-child(1) {
  height: 15vh;
  flex-direction: row;
}

& > div > div:nth-child(1) > div {

  width: 60px;
  height: 60px;
}

& > div > div:nth-child(2) {

  height: 15vh;

}

& > div > div:nth-child(2) > div {

  width: 45vw;
  height: 5vh;

}

& > div > div:nth-child(3) {

  height: 10vh;
  @include flex(flex, center, center);
  align-items: flex-start;
}

& > div > div:nth-child(3) > div {

  width: 15vw;
  height: 1px;
  @include border;

}

& > div > div:nth-child(4) {
  background: url(http://www.retroremember.co.kr/data/item/1605959664/thumb-29669891007718023_1790862241_500x400.jpg);
  background-size: cover;
  height: 90vh;
}

& > div > div:nth-child(5) {

  height: 10vh;
  @include flex(flex, center, center);
  align-items: flex-start;
}

& > div > div:nth-child(5) > div {

  width: 15vw;
  height: 1px;
  @include border;
}

& > div > div:nth-child(6) {

  height: 90vh;
  background: url(http://www.retroremember.co.kr/data/item/1605083357/thumb-36921983768420843_1528500475_350x250.jpg);
  background-size: cover;
}

}