*{margin: 0; padding: 0;}

@mixin flex {

  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin  border {
  
  border: 1px solid black;

}

// --------------------------------------

#root {

  width: 100vw;
  height: 100vh;
  @include flex;

  & div {

  width: 45vw;
  height: 100vh;
  flex-direction: column;
  flex-grow: 1;

  @include flex;
  @include border;
}

& > div > div:nth-child(1) {
  height: 15vh;
  flex-direction: row;
}

& > div > div:nth-child(1) > div {

  width: 60px;
  height: 60px;
}

& > div > div:nth-child(2) {

  height: 15vh;

}

& > div > div:nth-child(2) > div {

  width: 45vw;
  height: 5vh;

}

& > div > div:nth-child(3) {

  height: 10vh;
  @include flex;
  align-items: flex-start;
}

& > div > div:nth-child(3) > div {

  width: 15vw;
  height: 1px;
  @include border;

}

& > div > div:nth-child(4) {

  height: 90vh;
}

& > div > div:nth-child(5) {

  height: 10vh;
  @include flex;
  align-items: flex-start;
}

& > div > div:nth-child(5) > div {

  width: 15vw;
  height: 1px;
  @include border;
}

& > div > div:nth-child(6) {

  height: 90vh;
}

}