
*{margin: 0; padding: 0;}

@mixin flex {

  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin  border {
  
  border: 1px solid black;

}

// -----------------------------------------

#root {
      
  width: 100vw;
  height: 100vh;
  background: url(https://github.com/SEIMIN123/contents-GAME/blob/main/%ED%94%BD%EC%85%80%EB%B0%B0%EA%B2%BD.jpg?raw=true);
  background-size: cover;
  flex-direction: column;
  @include flex; 
  
& > div:nth-child(1) {

  width: 500px;
  height: 450px;
  margin: 20px;
  background: url(https://github.com/SEIMIN123/contents-GAME/blob/ver.1/%EC%83%8C%EC%A6%88.png?raw=true);
  background-position: center;

}

& > div > div {

  @include flex;
  margin-bottom: 30px;

}

& > div > div:nth-child(1) {

  width: 500px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
}

& > div > div:nth-child(3) {

  width: 500px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
}


input {

  width: 250px;
  font-size: 25px;
  border-radius: 15px;
  border: solid rgb(235, 228, 228);
  padding-left: 20px;

    }
















}
